
/* Color components */

.g-blue {
    background-color: #16a;

    &:hover {
        background-color: #38c;
    }
}

.g-red {
    background-color: #d60;

    &:hover {
        background-color: #f80;
    }
}

.c-blue {
    color: #38c;
}

.c-red {
    color: #f80;
}

@keyframes color-pulse {
    0% {
        fill: #f63;
    }

    35% {
        fill: #ff9e00;
    }

    65% {
        fill: #ffd800;
    }

    100% {
        fill: #f63;
    }
}