@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

// Common

@import 'common/colors';

// Components

@import 'components/client';
@import 'components/game';
@import 'components/joinCTA';
@import 'components/animatedHeader';
@import 'components/lobbyHeader';
@import 'components/userList';

// Other

html, body {
    background-color: #123;
    color: #fff;
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 22px;
}

a, .btn-link {
    color: #34a8fb;
}

hr {
    background-color: #fff;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    min-height: 100vh;
    margin: auto;
    padding-top: 3rem;
}

.container {
    max-width: 700px;
}

.flex-container {
    display: flex;
    margin: auto;
    max-width: 700px;
    margin-top: 30px;
    flex-direction: column;
}

.button {
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 22px;
    flex: 1 1;
    margin: 5px 10px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.3s;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.card {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
    flex: 1 1;
    margin: 0 10px;
    padding: 10px;
}

.header {
    > div {
        margin-top: 1rem;
    }

    h2 {
        margin-top: 2rem;
    }
}

.footer {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    > * {
        display: inline-block;
    }

    > a {
        text-decoration: underline;
        padding-left: 1rem;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 28px;
    }
    app {
        flex-direction: row;
    }
    .main {
        max-width: 768px;
        padding-top: 5rem;

        > div {
            padding-left: 2rem !important;
            padding-right: 1.5rem !important;
        }
    }
    .flex-container {
        flex-direction: row;
        margin-top: 60px;
    }
    .footer {
        > a {
            padding-left: 2rem;
        }
    }
}

@media (min-width: 1000px) {
    .main {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .main {
        max-width: 1200px;
    }
}
