@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    background-color: #2c3e50;
    color: #fff;
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    min-height: 100vh;
}

    .main .top-row {
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.content {
    padding-top: 1.1rem;
}

.flex-container {
    display: flex;
    margin: auto;
    max-width: 700px;
    margin-top: 100px;
    flex-direction: column;
}

.button {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
    color: #fff;
    font-size: 22px;
    flex: 1 1;
    margin: 5px 10px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.3s;
}

    .button:hover {
        box-shadow: 0 0 20px #a63;
        color: #fff;
        text-decoration: none;
    }

.card {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
    flex: 1 1;
    margin: 0 10px;
    padding: 10px;
}

.g-blue {
    background-image: linear-gradient(-45deg, #2c3e50, #3498db);
}

.g-red {
    background-image: linear-gradient(-45deg, #ff2c00, #ff9e00);
}

.header > div {
    margin-top: 2rem;
}

.header h2 {
    font-size: 24px;
}

.join-cta {
    width: 280px;
}

.text-input {
    border: none;
    border-radius: 3px;
    color: #ff2c00;
    font-size: 24px;
    padding: 5px 20px;
    text-align: center;
}

.text-input ~ .button {
    margin: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .flex-container {
        flex-direction: row;
    }

    .header h2 {
        font-size: 32px;
    }

    .join-cta {
        width: 500px;
    }

    .text-input ~ .button {
        margin: 0 10px;
        padding: 10px 30px;
    }
}
