@inherits LayoutComponentBase

<main class="main">
    <div class="top-row px-4">
        <a href="/about" class="btn btn-outline-info">About</a>
        <a href="/" class="btn btn-outline-light">Home</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</main>