@inherits LayoutComponentBase

<main class="main">
    <div class="top-row px-4">
        <button class="btn btn-info" @onclick="ToggleNav">Pages</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</main>

<div class="sidebar @NavMenuCssClass">
    <NavMenu />
</div>

@code {
    private bool showNav = false;

    private string NavMenuCssClass => showNav ? null : "d-none";

    private void ToggleNav()
    {
        showNav = !showNav;
    }
}