
<footer class="footer">
    <p>&copy; Blazorball 2020</p>
    <a href="/about" class="text-light" onclick="disconnect()">About</a>
    <a href="/" class="text-light" onclick="disconnect()">Home</a>
</footer>