@page "/about"

<div class="text-center">
    <div class="header">
        <div class="flex-container">
            <img src="/img/blazorball.svg" alt="Blazorball" class="w-100" />
        </div>
        <br />
        <h2>A fast-paced collaborative football-them-up.</h2>
    </div>
    <br />

    <h1>About</h1>
    <p>Idk, this is a pretty cool thing I guess.</p>
</div>