@page "/about"

<div class="text-center">
    <AnimatedHeader />

    <h1>blazorball.xyz</h1>
    <h2>A fast-paced collaborative football-them-up.</h2>

    <div class="container">
        <hr />
        <br />
        <h3>About Us</h3>
        <p>We're two high school students who made this thing as part of our semester mathematics project on the general topic of vectors. You can find this project totally open source at <a href="https://github.com/SDBagel/Blazorball">the GitHub repository</a>.</p>
        <br />
        <h3>The Game</h3>
        <p>Built around quick 3 minute matches, Blazorball takes the traditional concept of two teams pitting it out and turns it on it's head. The playing field is split into two teams, each team having groups of players acting together as a single unit. All players on a team work towards ultimate victory by scoring goals.</p>
        <br />
        <h3>The Tech</h3>
        <p>Blazorball is built on ASP.NET Core 3.1 Blazor Server with Blazor and SignalR handling client and server communications. JavaScript interop is used to handle the physics engine, matter.js, on the host's side.</p>
        <br />
    </div>
</div>