@page "/about"

<div class="text-center">
    <AnimatedHeader />
    <br />
    <h1>blazorball.xyz</h1>
    <h2>A fast-paced collaborative football-them-up.</h2>

    <div class="container">
        <hr />
        <br />
        <h3>About Us</h3>
        <p>We're two high school students who made this thing as part of our semester mathematics project on the general topic of vectors. You can find this project open source at <a href="https://github.com/SDBagel/Blazorball">the GitHub repository</a>.</p>
        <br />
        <br />
    </div>

    <NavFooter />
</div>