@page "/"

<div class="text-center">
    <div class="header">
        <div class="flex-container">
            <img src="/img/blazorball.svg" alt="Blazorball" class="w-100" />
        </div>
        <br />
        <h2>A fast-paced collaborative football-them-up.</h2>
    </div>

    <section class="flex-container">
        <a class="button g-blue" href="/lobby">Create Game</a>
        <a class="button g-red" href="/client">Join Game</a>
    </section>
</div>