@page "/"

<div class="text-center">
    <section class="flex-container">
        <img src="/img/blazorball.svg" alt="Blazorball" class="w-100" />
    </section>
    <br />
    <h2>A fast-paced collaborative football-them-up.</h2>
    
    <section class="flex-container">
        <button class="button g-blue">Create Game</button>
        <button class="button g-red">Join Game</button>
    </section>
</div>
